@font-face {
  font-family: myFirstFont;
  src: url(Cheese_and_Mouse.ttf);
  font-weight: bold;
}

body {
  background-image: url("../images/catandmouse.png");
  background-size: 300px;
  background-repeat: repeat;
}

#head {
  text-align: center;
  font-size: 25px;
  font-style: bold;
}

#head h1 {
  font-family: myFirstFont;
  color: black;
}
#buttonDisplay {
  text-align: center;
  margin-bottom: 30px;
}

#game-board {
  text-align: center;
}

#canvas {
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
}
